@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');


:root{
    /* colors */
    --nav-bg: black;
    --main-bg: #141922;
    --player-bg: #282828;
    --upgrade-bar-bg: rgba(0, 0, 8, 0.6);
    --text-color: #A3A3A3;
    --hover-green: #ADFF2F;
    /* transition times */
    --main-transition: 400ms;
}


/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    user-select: none;
   -webkit-user-select: none; 
   -moz-user-select: none; 
}

ul,ol,menu{
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--text-color);
}
a:hover{
    color: white;
    transition: var(--main-transition);
    cursor: pointer;
}
/* scrollbar */
  /* width */
*::-webkit-scrollbar {
    width: 12px;
}
  
  /*colore racciato scrollbar*/
*::-webkit-scrollbar-track {
    background: transparent; 
}
   
  /*colore barra*/
*::-webkit-scrollbar-thumb {
    background: grey;
}
  
  /*hover */
*::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.7); 
}
  

.vp-container{
    height: calc(100vh - 90px);
    width: 100%;
    overflow: hidden;
}
main{
    display: flex;
    height: 100%;
}

/* GRID */
.row{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.col{
    flex-basis: calc(100% / 6 - 1rem);
    
}

/* NUOVA SEZIONE */
/* MAIN NAV */
.main-nav{
    width: 230px;
    height: 100%;
    background-color: var(--nav-bg);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5rem;
}
.logo{
    padding-top: 1.25rem;
    color: white;
    padding-left: 1.25rem;
}
.big__logo{
    width: 70%;
}
.small__logo {
    display: none;
}

.nav__menu a{
   display: block; 
   padding: 4px 0 4px 1.25rem;
}
.nav__menu img{
    width: 30px;
    vertical-align: middle;
    opacity: 0.5;
}
.nav__menu span{
    vertical-align: middle;
}
/* Main-nav menu hover + selezione verde elemento utilizzanto il radio button  */
.nav__menu a:hover img{
    opacity: 1;
}
#home-check, #search-check, #library-check{
    display: none;
}

#home-check:checked + label  a,
#search-check:checked + label  a,
#library-check:checked + label  a{
    border-left: 4px solid var(--hover-green);
    padding-left: calc(1.25rem - 4px);
}

/* playlist */
.playlist-title{
    padding-left: 1.25rem;
}
.playlist-title h5{
    color: white;
    padding-bottom: 8px;
}
.playlist-title a{
    display: block;
}
.playlist-title .fa-square-plus{
    font-size: 38px;
    vertical-align: middle;
}
.playlist-title span{
    vertical-align: middle;
}
.playlist{
    flex-grow: 1;
    overflow-y: auto;
    padding-left: 1.25rem;
}
.playlist li{
    padding-bottom: 20px;
}
.playlist a{
    padding: 10px 0;
}

/* user */
.bottom__nav{
    padding: 0 1.25rem 0 1.25rem;
}
.install{
    display: block;
    padding-bottom: 8px;
}
.install img{
    width: 28px;
    vertical-align: middle;
    opacity: 0.5;
    padding-right: 8px;
}
.install span{
    vertical-align: middle;
}
.install:hover img{
    opacity: 1;
}
.line{
    width: 100%;
    height: 1px;
    margin: 0 auto;
    background-color: var(--text-color);    
}
.user{
    display: block;
    padding: 14px 0;
}
.user img{
    width: 25px;
    background-color: gray;
    aspect-ratio: 1;
    border-radius: 50%;
    vertical-align: middle;
}
.user span{
    font-weight: 600;
    vertical-align: middle;
    padding-left: 5px;
}

/* **********************
MAIN NAV MOBILE
************************* */
@media screen and (max-width: 553px) {
    .main-nav{
        width: 60px;
    }
    .big__logo{
        display: none;
    }
    .small__logo{
        display: block;
        width: 30px;
    }
    .main-nav span{
        display: none;
    }
    .playlist-title{
        display: none;
    }
    .main-nav ul{
        display: none;
    }
    .line{
        display: none;
    }
    .install img{
        width: 35px;
        margin-left: -4px;
    }
}

/* NUOVA SEZIONE */
/* MAIN CONTENT */
.main-content{
    width: calc(100% - 230px);
    height: 100%;
    background-color: var(--main-bg);
    flex-direction: column;
    padding-top: 100px;
    overflow-y: auto;
}
/* Top bar */
.upgrade-bar{
    width: calc(100% - 230px);
    height: 100px;
    background-color:var(--upgrade-bar-bg);
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: end;
    align-items: center;
}

.upgrade-button span{
    border: 1px solid var(--text-color);
    border-radius: 40px;
    padding: 14px 30px;
    margin-right: 1.25rem;
    display: block;
}
.upgrade-button:hover span{
    border-color: white;
    transform: scale(1.15);
    transition: var(--main-transition);
}

/* Main content menu */
.main-content__menu ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1.5rem 3rem;
    gap: 2rem;
}

.main-content__menu span{
    color: var(--text-color);
    font-size: 13px;
    font-weight: 600;
}

/* Hover + selezione elemento utilizzanto il radio button  */
.main-content span:hover{
    color: white;
    transition: var(--main-transition);
    cursor: pointer;
}
#check1, #check2, #check3, #check4, #check5, #check6{
    display: none;
}
#check1:checked + label > span,
#check2:checked + label > span,
#check3:checked + label > span,
#check4:checked + label > span,
#check5:checked + label > span,
#check6:checked + label > span {
    border-bottom:2px solid var(--hover-green) ;
}


/* RECENTLY PLAYED SECTION */
.recently-played{
    padding: 1.75rem;
}
.card img{
    max-width: 100%;
    display: block;
}
.recently-played h2{
    padding-bottom: 30px;
}
.main-content h2, h5{
    color: white;
}
.card{
    text-align: center;
}
.main-content h5{
    font-size: 17px;
    padding: 0.5rem 0;
}
.main-content h6{
    color: var(--text-color);
}

/* FOR YOU */
.for-you{
    padding: 1.75rem;
}
.section__subtitle{
    padding: 7px 0 30px 0;
}
/* POPULAR */
.popular {
    padding: 1.75rem;
}
.popular img{
    border-radius: 50%;
}

/* IMG OVERLAY */

.card figure{
    position: relative;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 8, 0.7);
    z-index: 1;
    color: whitesmoke;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 70px;
}

.popular .overlay{
    border-radius: 50%;
}
.card:hover .overlay{
    display: flex;
    cursor: pointer;
}

/* **********************
MAIN-CONTENT MENU MOBILE
************************* */
@media screen and (max-width: 1200px) {
    .col{
        flex-basis: calc(100% / 5 - 1rem);
     }
}

@media screen and (max-width: 1000px) {
    .col{
        flex-basis: calc(100% / 4 - 1rem);
     }
}
@media screen and (max-width: 880px) {
    .col{
        flex-basis: calc(100% / 4 - 1rem);
     }
}
@media screen and (max-width: 798px) {
    .col{
        flex-basis: calc(100% / 3 - 1rem);
     }
}
@media screen and (max-width:640px) {
     .main-content__menu ul{
        padding: 1.5rem 2rem;
        gap: 1.3rem;
     }   

     .col{
        flex-basis: calc(100% / 2 - 1rem);
     }
}


@media screen and (max-width:553px) {
    .main-content{
        width: calc(100% - 60px);
    }
    .upgrade-bar{
        width: calc(100% - 60px);
    }
    .main-content__menu ul{
        padding: 1.5rem 1.3rem;
        gap: 1.3rem;
     }  
}

/* NUOVA SEZIONE */
/* PLAYER */
.player{
    width: 100%;
    height: 90px;
    background-color: var(--player-bg);
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    
}

/* song sx*/
.player__song{
    display: flex;
    max-width: 300px;   
    align-items: center; 
    padding: 1rem 0 1rem 0.75rem;
}
.song__cover{
    height: 100%;
}
.song__cover img{
    height: 100%;
}
.song__name{
    margin: 0 20px 0 20px;
}

.song__name a h4{
    color: white;
}
.song__name a h5{
    font-weight: 500;
}
.song__favourite i{
    font-size: 1.2rem;
    margin-left: 10px;
}
/* **********************
PLAYER SONG TABLET
************************* */
@media screen and (max-width: 640px) {
    .song__cover{
        height: 80%;
    }
    .song__name{
        margin: 0 15px 0 10px;
    }
    .song__favourite{
        margin-left: 6px;
    }   
}
/* **********************
PLAYER SONG MOBILE
************************* */
@media screen and (max-width: 553px) {
    .song__cover{
        height: 70%;
    }
    .song__name{
        margin: 0 5px 0 10px;
    }
    .song__favourite{
        margin-left: 0;
    }
}

/* toolbar centrale */
.player__toolbar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
    max-width: 640px; 
    flex-grow: 1;  
    padding: 0 20px;
}
.toolbar__button ul{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.toolbar__button a{
    font-size: 18px;
}
.toolbar__button .big__button{
    font-size: 30px;
}
.toolbar__button .big__button:hover i{
    transform: scale(1.3);
    transition: var(--main-transition);
}
.toolbar__time{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    color: var(--text-color);
    font-size: 0.75rem;
    gap: 10px;
}
.time__bar{
    height: 4px;
    border-radius: 4px;
    background-color: var(--text-color);
    flex-grow: 1;
}
.realtime-bar{
    position: relative;
    height: 100%;
    width: 15%;
    border-radius: 4px;
    background-color: white;    
}

/* time bar hover */
.realtime-bar:hover{
    background-color: var(--hover-green);
    cursor: pointer;
}
.realtime-bar:hover .point-bar{
    position: absolute;
    right: -4px;
    top: -4px;
    aspect-ratio: 1;
    height: 300%;
    border-radius: 50%;
    background-color: white;   
}

/* volume dx */
.player__volume{
    width: 230px;
    display: flex;
    align-items: center;
    padding-right: 0.75rem;
}
.volume__items a{
    margin-right: 0.75rem;
}
.volume__bar{
    height: 4px;
    border-radius: 4px;
    background-color: grey;
    flex-grow: 1;
}
.volume__realtime-bar{
    width: 50%;
}

/* **********************
VOLUME MOBILE
************************* */
@media screen and (max-width: 553px) {
    .player__volume{
        width: 180px;
    }
    .volume__items a{
        margin-right: 3px;
    }

}